body {
    font-family: Monaco;
    /*background-image: linear-gradient(45deg, #03fc45, #fc0335);*/
    background-color: #03fc45;
}

button {
    background-color: #fc0335;
    /*color: #03fc45;*/
    color: white;
}

button:hover {
    box-shadow: 0px 0px 3px #780a20;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}

.choice {
    font-family: Monaco;
    margin-left: 15px;
    margin-right: 15px;
    width: 120px;
    /*color: #03fc45;*/
    color: white;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 25px;
    outline: none;
}

.reload {
    position: absolute;
    left: 50px;
    font-family: Monaco;
    margin-left: 15px;
    margin-right: 15px;
    width: 120px;
    /*color: #03fc45;*/
    color: white;
    font-size: 20px;
    border: solid 1px black;
    border-radius: 25px;
    outline: none;
}

#computerChoice {
    display: flex;
    height: 25px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.results {
    display: flex;
    height: 40px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    color: blue;
    font-size: 20px;
}

.scoresContainer {
    background-color: transparent;
    width: auto;
    display: flex;
    justify-content: center;
}

#playerScore {
    color: black;
    background-color: transparent; 
    margin-left: 15px;
    margin-right: 120px;
    font-size: 20px;
}

#computerScore {
    color: black;
    background-color: transparent; 
    margin-left: 120px;
    margin-right: 15px;
    font-size: 20px;
}

#finishedGame {
    font-size: 20px;
    display: flex;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    justify-content: center;
}
